.custom-footer-links {
  margin-top: 0.8rem;
  text-align: left;
  font-size: 0.9rem;
}

.custom-footer-links a {
  text-decoration: none;
}

.home-courier,
.home-courier * {
  font-family: "Courier New", Courier, monospace;
}


.sidebar-brand,
.sidebar-brand *,
.sidebar-brand-text,
.sidebar-brand-text *,
.mobile-header-center,
.mobile-header-center *,
.mobile-header-title,
.mobile-header-title *,
.topbar-title,
.topbar-title *,
.header-center,
.header-center *,
.navbar-brand,
.navbar-brand *,
.site-title,
.site-title * {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: bold !important;
}