.custom-footer-links {
  margin-top: 0.8rem;
  text-align: left;
  font-size: 0.9rem;
}

.custom-footer-links a {
  text-decoration: none;
}

.home-courier,
.home-courier * {
  font-family: "Courier New", Courier, monospace;
}

.navbar-brand,

.navbar-brand *,

.sidebar-brand,

.sidebar-brand *,

.sidebar-brand-text,

.sidebar-brand-text *,

.site-title,

.site-title *,

.logo__title,

.logo__title *,

.bd-header .navbar-brand,

.bd-header .navbar-brand *,

.bd-sidebar-primary .navbar-brand,

.bd-sidebar-primary .navbar-brand *,

.wy-side-nav-search > a,

.wy-side-nav-search > a * {

  font-family: "Courier New", Courier, monospace !important;

  font-weight: bold !important;

}