.custom-footer-links {
  margin-top: 0.8rem;
  text-align: left;
  font-size: 0.9rem;
}

.custom-footer-links a {
  text-decoration: none;
}

.home-courier,
.home-courier * {
  font-family: "Courier New", Courier, monospace;
}

a.navbar-brand,
.navbar-brand .site-title,
.sidebar-brand-text,
.wy-side-nav-search > a {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: bold !important;

}